Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Rework GDPR compliant logrotate config
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-purge-56143a979ba80b51.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Merge default_listen with swift_proxy_server_listen_options
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix duplicate entries in /etc/sysconfig/iptables
  manifests/firewall.pp
Due: none

Remove support for puppet-ceph
  manifests/profile/base/ceph.pp
  manifests/profile/base/ceph/client.pp
  manifests/profile/base/ceph/mds.pp
  manifests/profile/base/ceph/mon.pp
  manifests/profile/base/ceph/osd.pp
  manifests/profile/base/ceph/rgw.pp
  manifests/profile/base/cinder/backup/swift.pp
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/rbd.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  manifests/profile/base/nova/compute_libvirt_shared.pp
  manifests/profile/pacemaker/ceph/rbdmirror.pp
  metadata.json
  releasenotes/notes/remove-support-for-puppet-ceph-bbe044bd575d1239.yaml
  spec/classes/tripleo_profile_base_ceph_client_spec.rb
  spec/classes/tripleo_profile_base_ceph_mds_spec.rb
  spec/classes/tripleo_profile_base_ceph_mon_spec.rb
  spec/classes/tripleo_profile_base_ceph_osd_spec.rb
  spec/classes/tripleo_profile_base_ceph_rgw_spec.rb
  spec/classes/tripleo_profile_base_ceph_spec.rb
  spec/classes/tripleo_profile_pacemaker_ceph_rbdmirror_spec.rp
  spec/fixtures/hieradata/default.yaml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix up property names in case of mixed case hostnames
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Automatically configure neutron with designate
  manifests/profile/base/neutron.pp
Due: none

Lower the default stunnel log level
  manifests/stunnel.pp
  templates/stunnel/foreground.erb
Due: none

Make sure remotes are fully up before proceeding
  manifests/profile/base/pacemaker.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Move unfencing to meta_params
  manifests/profile/base/pacemaker/instance_ha.pp
  spec/classes/tripleo_profile_base_pacemaker_spec.rb
Due: none

Neutron sidecar wrappers use netns they were invoked with
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/neutron-keepalived-state-change.epp
Due: none

Add missing nfs_mount_options for Cinder Netapp backend
  manifests/profile/base/cinder/volume/netapp.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Disallow SSLv2, SSLv3 and TLS1.0 in rabbitmq for FedRAMP compliance
  manifests/profile/base/rabbitmq.pp
Due: none

ssh: allow to configure PasswordAuthentication
  manifests/profile/base/sshd.pp
  spec/classes/tripleo_profile_base_sshd_spec.rb
Due: none

Don't install kolla by default
  manifests/profile/base/docker_registry.pp
  releasenotes/notes/nokolla-7898fe76cf623a0c.yaml
Due: none

Release 9.1.0 - Rocky m2
  metadata.json
Due: none

Conditionally Enable Nuage VRS
  manifests/profile/base/neutron/plugins/ml2/nuage.pp
Due: none

Add keystone only job for queens
  zuul.d/layout.yaml
Due: none

Fix designate-api hiera references
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Adds check and resyncs ODL/OVS OF pipeline
  lib/puppet/functions/synchronize_odl_ovs_flows.rb
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/fix-odl-ovs-flows-sync-7b2cb7a29f0c89ec.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

fix tox python3 overrides
  tox.ini
Due: none

Add NFS backend for cinder-backup service
  manifests/profile/base/cinder/backup/nfs.pp
  releasenotes/notes/cinder-backup-nfs-backend-59bf771a58af65f6.yaml
  spec/classes/tripleo_profile_base_cinder_backup_nfs_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Handle renaming of Cinder VNX backend parameter
  manifests/profile/base/cinder/volume/dellemc_vnx.pp
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

HA overcloud: wait for db before running grant commands
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add QDR profile for metrics purposes.
  manifests/profile/base/metrics/qdr.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix logrotate_crond issues
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Ensure appropriate ACL mask is set on CephX keyrings
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  manifests/profile/base/nova/compute_libvirt_shared.pp
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Adding wrapper script for haproxy in OVN metadata agent
  manifests/profile/base/neutron/ovn_metadata_agent_wrappers.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
