Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

add scenario003 tests when designate changes
  zuul.d/layout.yaml
Due: none

mysql/client: create tripleo.cnf everytime
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Make sure that stonith state is enforced before attempting a scaleup
  manifests/profile/base/pacemaker.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Conditionalize rndc changes
  manifests/profile/base/designate.pp
  manifests/profile/base/designate/worker.pp
Due: none

Update Gemfile for stable/rocky
  Gemfile
Due: none

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

Add scenario010 to the check queue
  zuul.d/layout.yaml
Due: none

Allow VIP resource to have customized ops
  manifests/pacemaker/haproxy_with_vip.pp
  manifests/profile/pacemaker/haproxy.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix docker debug/mirrors JSON augeas changes
  manifests/profile/base/docker.pp
  spec/classes/tripleo_profile_base_docker_spec.rb
Due: none

Add logrotate compress option
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-compress-96934a4e76b9689d.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Force GDPR compliance of containers logs
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-purge-56143a979ba80b51.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Remove the duplicated word
  manifests/profile/pacemaker/database/redis.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  spec/classes/tripleo_profile_base_neutron_spec.rb
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Set OVS local ip through OVS ODL class
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Create interface to create mysql resources via hieradata
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/database/mysql/user.pp
  manifests/profile/base/database/mysql/users.pp
  releasenotes/notes/introduce-mysql-user-interface-e16d62f3743128a0.yaml
  spec/defines/tripleo_profile_base_database_mysql_user_spec.rb
Due: none

Introduce alternative to get ip_addresses and server_names
  manifests/haproxy/endpoint.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Include missing config classes
  manifests/profile/base/congress.pp
  manifests/profile/base/ironic_inspector.pp
  manifests/profile/base/sahara.pp
  manifests/profile/base/tacker.pp
  manifests/profile/base/zaqar.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container

Prepare 8.3.6 (Queens) release
  metadata.json
Due: none

Prepare 7.4.16 (Pike) release
  metadata.json
Due: none

Add additional tuning options for mariadb/galera
  manifests/profile/base/database/mysql.pp
Due: none

Make sure rhel-plugin-push.service is stopped after pacemaker stops
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker_remote.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix fluentd multifile problem.
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Revert "Revert "SSL support for haproxy -> novnc proxy connection""
  manifests/certmonger/novnc_proxy.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/nova_novnc_proxy_ssl_support-507a776063403a8e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

ceilometer: escape % in crontab
  manifests/profile/base/ceilometer/expirer.pp
  spec/classes/tripleo_profile_base_ceilometer_expirer_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

adding deployment_type fact in support
  manifests/fencing.pp
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Fix nic_alias fact error
  lib/facter/nic_alias.rb
Due: none

Implements: liquidio-containerization
  lib/puppet/provider/liquidio_config/ini_setting.rb
  lib/puppet/type/liquidio_config.rb
  manifests/host/liquidio/compute.pp
  manifests/host/liquidio/config.pp
  spec/classes/tripleo_host_liquidio_compute_spec.rb
  spec/classes/tripleo_host_liquidio_config_spec.rb
  spec/unit/provider/liquidio_config/ini_setting.rb
  spec/unit/type/liquidio_config_sepc.rb
Due: none

Fix postrotate to notify holders of rotated logs
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Make sure that ceph-nfs and the VIP start in the right order
  manifests/profile/pacemaker/ceph_nfs.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Enable TLS in the internal network for Octavia API
  manifests/haproxy.pp
  manifests/profile/base/octavia/api.pp
  spec/classes/tripleo_profile_base_octavia_api_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

mysql: use clustercheck credentials to poll galera state
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Revert "Fix postrotate to notify holders of rotated logs"
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
