Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Allow vhost socket directory user/group as configurable from template
  manifests/profile/base/neutron/ovs.pp
  spec/classes/tripleo_profile_base_neutron_ovs_spec.rb
Due: none

Add multiple backends for barbican
  manifests/profile/base/barbican/api.pp
  manifests/profile/base/barbican/backends.pp
  releasenotes/notes/add-barbican-backends-2412df7eef07038e.yaml
  spec/classes/tripleo_profile_base_barbican_backends_spec.rb
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove erroneous octavia code related to sync_db
  manifests/profile/base/octavia/api.pp
Due: none

Update cephx keys with ACLs for openstack services.
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  manifests/profile/base/nova/compute_libvirt_shared.pp
  metadata.json
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Instance HA support
  Puppetfile_extras
  manifests/fencing.pp
  manifests/profile/base/pacemaker.pp
  manifests/profile/base/pacemaker/instance_ha.pp
  manifests/profile/pacemaker/compute_instanceha.pp
  spec/classes/tripleo_profile_base_pacemaker_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Enable Octavia service_auth configuration
  manifests/profile/base/octavia.pp
  releasenotes/notes/add-octavia-service-auth-config-acc4adb3e6c4542d.yaml
Due: none

Enable octavia certificate configuration
  manifests/profile/base/octavia/health_manager.pp
  manifests/profile/base/octavia/worker.pp
  releasenotes/notes/enable-octavia-certificate-configuration-d8924916efc3054b.yaml
Due: none

Enable collectd to send metrics to Gnocchi
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/gnocchi.pp
  templates/collectd/collectd-gnocchi.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

HAProxy logging
  manifests/haproxy.pp
  spec/classes/tripleo_haproxy_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Remove INSECURE_REGISTRY from docker_registry.pp
  manifests/profile/base/docker_registry.pp
Due: none

Prepare 6.5.6 (ocata)
  metadata.json
Due: none

In compute IHA make no_shared_storage a class parameter
  manifests/profile/base/pacemaker/instance_ha.pp
Due: none

Bind-mount iscsid IQN by its real host path
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add support for switchdev mode in SR-IOV
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  lib/puppet/type/sriov_vf_config.rb
  manifests/host/sriov.pp
  manifests/host/sriov/numvfs_persistence.pp
  releasenotes/notes/ovs-hw-offload-89a49899af3b9892.yaml
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  spec/unit/provider/sriov_vf_config/numvfs_spec.rb
  spec/unit/type/sriov_vf_config_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Implements: Heat template for integrating Cavium SmartNIC LiquidIO
  manifests/network/cavium/liquidio.pp
Due: none

Add unit tests for tripleo::firewall::service_rules
  manifests/firewall/service_rules.pp
  releasenotes/notes/firewall-service-rules-6586a2c138dfe338.yaml
  spec/defines/tripleo_firewall_service_rules_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Add neutron base profile to OVN metadata agent
  manifests/profile/base/neutron/ovn_metadata.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container

gnocchi: ensure upgrade run after swift setup
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Implements AIDE Intrusion Detection System
  manifests/profile/base/aide.pp
  manifests/profile/base/aide/cron.pp
  manifests/profile/base/aide/installdb.pp
  manifests/profile/base/aide/rules.pp
  spec/classes/tripleo_profile_base_aide_spec.rb
  templates/aide/aide.conf.erb
Due: none

Add unit test for tripleo::haproxy::service_endpoints
  manifests/haproxy/service_endpoints.pp
  releasenotes/notes/haproxy-service-endpoints-4351bd4666dfe9a7.yaml
  spec/defines/tripleo_haproxy_service_endpoints_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

logging: support service_config_settings configuration mechanism
  manifests/profile/base/logging/fluentd.pp
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Remove old central and compute agent profiles
  manifests/profile/base/ceilometer/agent/central.pp
  manifests/profile/base/ceilometer/agent/compute.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Update the doc link
  README.md
Due: none

correct unit tests
  spec/defines/tripleo_firewall_service_rules_spec.rb
  spec/defines/tripleo_haproxy_endpoint_spec.rb
  spec/defines/tripleo_haproxy_service_endpoints_spec.rb
Due: none

Add Basic Authentication support for HAProxy
  manifests/haproxy/endpoint.pp
  manifests/haproxy/service_endpoints.pp
  manifests/haproxy/userlist.pp
  releasenotes/notes/haproxy-basic-auth-e2839941c806c615.yaml
  spec/defines/tripleo_haproxy_endpoint_spec.rb
  spec/defines/tripleo_haproxy_service_endpoints_spec.rb
  spec/defines/tripleo_haproxy_userlist_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Correct typo in manila/share.pp resource chaining
  manifests/profile/base/manila/share.pp
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

gnocchi/ceilometer upgrade workflow fix
  manifests/profile/base/ceilometer/upgrade.pp
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix up spec class for haproxy
  spec/classes/tripleo_haproxy_spec.rb
Due: none

gnocchi/ceilometer upgrade workflow fix
  manifests/profile/base/ceilometer/collector.pp
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Allow wsrep_max_ws_rows and wsrep_max_ws_size to use defaults
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Update cephx keys with ACLs for openstack services.
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  metadata.json
  spec/classes/tripleo_profile_base_cinder_volume_spec.rb
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Update cephx keys with ACLs for openstack services.
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  metadata.json
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

pacemaker: create Mysql_user once Galera is ready (puppet4)
  manifests/profile/pacemaker/database/mysql.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Let collectd manage repo and added unit test
  Puppetfile_extras
  manifests/profile/base/metrics/collectd.pp
  spec/classes/tripleo_profile_base_metrics_collectd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fix up the rabbitmq-ready check
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Make sure rabbitmq is fully up before creating any rabbitmq resources
  manifests/profile/pacemaker/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
