Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Extract local CA if it expired
  manifests/certmonger/ca/local.pp
  spec/classes/tripleo_certmonger_ca_local_spec.rb
Due: none

Fix rabbitmq haproxy configuration
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Allow custom per-service listen_options for haproxy
  manifests/haproxy/endpoint.pp
  manifests/haproxy/horizon_endpoint.pp
  releasenotes/notes/per-service-options-haproxy-75f5f00cf5243ecb.yaml
  spec/defines/tripleo_haproxy_endpoint_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Disallow TLS v1.0 from HAProxy
  manifests/haproxy.pp
  releasenotes/notes/No-TLS-v1.0-0edeac680bb51f94.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

ironic-inspector: enable support for dnsmasq PXE filter
  manifests/profile/base/ironic_inspector.pp
Due: none

Add NFS backend for cinder-backup service
  manifests/profile/base/cinder/backup/nfs.pp
  releasenotes/notes/cinder-backup-nfs-backend-59bf771a58af65f6.yaml
  spec/classes/tripleo_profile_base_cinder_backup_nfs_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Create vhost_socket_dir with proper permissions
  manifests/profile/base/neutron/ovs.pp
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  spec/classes/tripleo_profile_base_neutron_ovs_opendaylight_spec.rb
  spec/classes/tripleo_profile_base_neutron_ovs_spec.rb
  spec/fixtures/hieradata/default.yaml
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Replace perl with awk
  templates/logrotate/containers_logrotate.conf.erb
Due: none

firewall/rule: add 'table' support
  manifests/firewall/rule.pp
  releasenotes/notes/firewall_table-f58ec47de40ec62d.yaml
  spec/classes/tripleo_firewall_spec.rb
Due: none

Support both rabbitmq and oslo.messaging service nodes
  manifests/profile/base/aodh.pp
  manifests/profile/base/barbican/api.pp
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/cinder.pp
  manifests/profile/base/congress.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/heat.pp
  manifests/profile/base/ironic.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/manila.pp
  manifests/profile/base/mistral.pp
  manifests/profile/base/neutron.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/novajoin.pp
  manifests/profile/base/octavia.pp
  manifests/profile/base/qdr.pp
  manifests/profile/base/rabbitmq.pp
  manifests/profile/base/sahara.pp
  manifests/profile/base/swift/proxy.pp
  manifests/profile/base/tacker.pp
  manifests/profile/pacemaker/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
  releasenotes/notes/messaging-rabbitmq-or-oslo-messaging-services-f29943b2eafd24e6.yaml
  spec/classes/tripleo_profile_base_qdr_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Include cors modules for Nova, Ironic Inspector
  manifests/profile/base/ironic_inspector.pp
  manifests/profile/base/nova/api.pp
Due: none

Conventional log directories for pacemaker bundles
  manifests/profile/pacemaker/database/mysql_bundle.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Pin puppet-collectd
  Puppetfile_extras
Due: none

Make the 'Could not find data item hacluster_pwd' error a bit clearer
  manifests/profile/base/pacemaker.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Extract local CA if it expired
  manifests/certmonger/ca/local.pp
Due: none

Disable curl globbing
  manifests/certmonger/ca/crl.pp
  manifests/profile/base/swift/ringbuilder.pp
  spec/classes/tripleo_certmonger_ca_crl_spec.rb
  templates/redis/redis-notifications.sh.erb
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add configuration for the Nova proxy endpoint
  manifests/ui.pp
  releasenotes/notes/nova-endpoint-a957a840ee653307.yaml
  templates/ui/tripleo_ui_config.js.erb
Due: none

Fixes incorrect ownership of ODL TLS cert/key
  manifests/certmonger/opendaylight.pp
  releasenotes/notes/fix-odl-tls-owner-77d2d71fe39ea3e7.yaml
  spec/classes/tripleo_certmonger_opendaylight_spec.rb
Due: none

Support separate oslo.messaging services for RPC and Notifications
  manifests/profile/base/aodh.pp
  manifests/profile/base/barbican/api.pp
  manifests/profile/base/ceilometer.pp
  manifests/profile/base/cinder.pp
  manifests/profile/base/congress.pp
  manifests/profile/base/glance/api.pp
  manifests/profile/base/heat.pp
  manifests/profile/base/ironic.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/manila.pp
  manifests/profile/base/mistral.pp
  manifests/profile/base/neutron.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/novajoin.pp
  manifests/profile/base/octavia.pp
  manifests/profile/base/qdr.pp
  manifests/profile/base/rabbitmq.pp
  manifests/profile/base/sahara.pp
  manifests/profile/base/swift/proxy.pp
  manifests/profile/base/tacker.pp
  manifests/profile/pacemaker/rabbitmq.pp
  manifests/profile/pacemaker/rabbitmq_bundle.pp
  releasenotes/notes/oslo-messaging-separate-backends-69aabd30ba470e61.yaml
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add fact to get array of nic alias name
  lib/facter/nic_alias.rb
Due: none

Add missing cron jobs for Overcloud cleanup
  manifests/profile/base/nova/api.pp
  releasenotes/notes/add-purge-tables-4f2de7c7e12ccf0c.yaml
Due: none

Release 5.6.9 (newton)
  metadata.json
Due: none

Release 6.5.11 (ocata)
  metadata.json
Due: none

Release 7.4.11 (pike)
  metadata.json
Due: none

Release 8.3.1 (queens)
  metadata.json
Due: none

Update default Cinder RBD backend_host value
  manifests/profile/base/cinder/volume/rbd.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

HAProxy: expose stats socket in HA containerized deployment
  manifests/profile/pacemaker/haproxy_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
