Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates, tripleo-ci-centos-7-scenario007-multinode-oooq-container

Force MySQL / MariaDB log_warnings to 1
  manifests/profile/base/database/mysql.pp
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: none

Enable ovn controller to be updated before ovn-northd.
  manifests/profile/base/neutron/agents/ovn.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Filter haproxy_certificate_specs if hostname is empty
  manifests/profile/base/certmonger_user.pp
Due: none

Make sure qemu CA has correct permissions
  manifests/certmonger/qemu.pp
Due: none

Revert "Cleanup old workaround for ipv6 VIPs"
  manifests/pacemaker/haproxy_with_vip.pp
Due: none

Remove /etc/ceph dependency on puppet services
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/glance/backend/rbd.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/base/manila/share.pp
  manifests/profile/base/nova/compute_libvirt_shared.pp
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  manifests/profile/pacemaker/manila/share_bundle.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

[ussuri] Migrate to content provider jobs/template
  zuul.d/layout.yaml
Due: none

Fix nic selection when no nic is specified
  manifests/pacemaker/haproxy_with_vip.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Update containers_logrotate.conf
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Defauts mariadb's innodb_strict_mode to OFF
  manifests/profile/base/database/mysql.pp
Due: none

Adding key_size option on the certmonger_certificate function
  Puppetfile_extras
  manifests/certmonger/ceph_dashboard.pp
  manifests/certmonger/ceph_grafana.pp
  manifests/certmonger/ceph_rgw.pp
  manifests/certmonger/etcd.pp
  manifests/certmonger/haproxy.pp
  manifests/certmonger/httpd.pp
  manifests/certmonger/libvirt.pp
  manifests/certmonger/libvirt_vnc.pp
  manifests/certmonger/memcached.pp
  manifests/certmonger/metrics_qdr.pp
  manifests/certmonger/mysql.pp
  manifests/certmonger/neutron.pp
  manifests/certmonger/neutron_ovn.pp
  manifests/certmonger/novnc_proxy.pp
  manifests/certmonger/openvswitch.pp
  manifests/certmonger/ovn_controller.pp
  manifests/certmonger/ovn_dbs.pp
  manifests/certmonger/ovn_metadata.pp
  manifests/certmonger/ovn_octavia.pp
  manifests/certmonger/qemu.pp
  manifests/certmonger/rabbitmq.pp
  manifests/certmonger/redis.pp
Due: none

Allow to specify a nic for the VIPs + Fix nic selection when no nic is specified
  manifests/pacemaker/haproxy_with_vip.pp
  manifests/profile/pacemaker/haproxy_bundle.pp
  manifests/profile/pacemaker/ovn_dbs_bundle.pp
  releasenotes/notes/vip-bind-nic-11e80207fcb78a20.yaml
Due: tripleo-ci-centos-7-scenario007-multinode-oooq-container

Bump metadata to 13.5.0 for new release of stable/victoria
  metadata.json
Due: none

Revert "[Train and before] Apply default_listen_options to ironic-inspector"
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove haproxy ironic-inspector http-check workaround
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove unused tripleo::network::os_net_config
  manifests/network/os_net_config.pp
Due: none

Glance: Include the required classes for image cache
  manifests/profile/base/glance/api.pp
  spec/classes/tripleo_profile_base_glance_api_spec.rb
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Remove management of login.defs
  manifests/profile/base/login_defs.pp
  releasenotes/notes/remove-login_defs-408e25efb875425f.yaml
  spec/classes/tripleo_profile_base_login_defs_spec.rb
Due: none

Remove the unused template file for securetty
  templates/securetty/securetty.erb
Due: none

Remove the unused template file for aide support
  templates/aide/aide.conf.erb
Due: none

Remove the unused template file for tripleo-ui
  templates/ui/tripleo_ui_config.js.erb
Due: none

Remove the unused template file for selinux
  templates/selinux/sysconfig_selinux.erb
Due: none

Remove the unused tripleo::host::sriov class
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  lib/puppet/type/sriov_vf_config.rb
  manifests/host/sriov.pp
  manifests/host/sriov/numvfs_persistence.pp
  spec/classes/tripleo_host_sriov_spec.rb
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  spec/unit/provider/sriov_vf_config/numvfs_spec.rb
  spec/unit/type/sriov_vf_config_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Fix wrong file names of some unit test files
  spec/classes/tripleo_certmonger_ovn_dbs_spec.rb
  spec/unit/provider/liquidio_config/ini_setting_spec.rb
  spec/unit/type/liquidio_config_spec.rb
Due: none

Stop including nova::metadata on computes
  manifests/profile/base/nova/compute.pp
Due: none

Wire up new tripleo upgrades jobs template
  zuul.d/layout.yaml
Due: none

Add ability to specify memcached port
  manifests/profile/base/aodh/authtoken.pp
  manifests/profile/base/barbican/authtoken.pp
  manifests/profile/base/cinder/authtoken.pp
  manifests/profile/base/designate/authtoken.pp
  manifests/profile/base/glance/authtoken.pp
  manifests/profile/base/gnocchi/authtoken.pp
  manifests/profile/base/heat.pp
  manifests/profile/base/heat/authtoken.pp
  manifests/profile/base/ironic/authtoken.pp
  manifests/profile/base/ironic_inspector/authtoken.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/manila/authtoken.pp
  manifests/profile/base/mistral/authtoken.pp
  manifests/profile/base/neutron/authtoken.pp
  manifests/profile/base/nova.pp
  manifests/profile/base/nova/authtoken.pp
  manifests/profile/base/novajoin/authtoken.pp
  manifests/profile/base/octavia/authtoken.pp
  manifests/profile/base/placement/authtoken.pp
  manifests/profile/base/swift.pp
  manifests/profile/base/swift/proxy.pp
  manifests/profile/base/zaqar/authtoken.pp
  releasenotes/notes/add-memcached-port-048959c2f58f0a57.yaml
Due: tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates

Path conditions:
  tripleo-ci-centos-7-scenario000-multinode-oooq-container-updates: any of: ^manifests/haproxy.*$, ^manifests/profile/(base|pacemaker)/aodh.*$, ^manifests/profile/(base|pacemaker)/ceilometer.*$, ^manifests/profile/(base|pacemaker)/ceph.*$, ^manifests/profile/(base|pacemaker)/cinder.*$, ^manifests/profile/(base|pacemaker)/glance.*$, ^manifests/profile/(base|pacemaker)/gnocchi.*$, ^manifests/profile/(base|pacemaker)/logging.*$, ^manifests/profile/(base|pacemaker)/metrics.*$, ^manifests/profile/(base|pacemaker)/monitoring.*$, ^manifests/profile/(base|pacemaker)/panko.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/plugins/ml2/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/agents/ovn.*$, ^manifests/profile/(base|pacemaker)/neutron/ovn.*$, ^manifests/profile/(base|pacemaker)/congress.*$, ^manifests/profile/(base|pacemaker)/tacker.*$
