Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Prevent triggering firewall actions while configuring HA services
  manifests/fencing.pp
Due: none

Remove INSECURE_REGISTRY from docker_registry.pp
  manifests/profile/base/docker_registry.pp
Due: none

remove scenario005 from experimental
  zuul.d/layout.yaml
Due: none

Move nova-metadata api to httpd wsgi
  manifests/profile/base/nova/api.pp
  manifests/profile/base/nova/metadata.pp
  releasenotes/notes/nova_metadata_wsgi-bbc8e5e053282a83.yaml
  spec/classes/tripleo_profile_base_nova_metadata_spec.rb
Due: none

Add panko expirer to configure cron tasks
  manifests/profile/base/panko/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

[Ocata,Pike,Queens-Only] Fix Cinder's Netapp backend
  manifests/profile/base/cinder/volume/netapp.pp
  releasenotes/notes/fix-cinder-netapp-deprecated-params-80bcfac1b1d2f88e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Release 8.3.5 (Queens)
  metadata.json
Due: none

Release 7.4.15 (Pike)
  metadata.json
Due: none

Release 6.5.15 (Ocata)
  metadata.json
Due: none

Fix default value for Gnocchi auth mode
  manifests/profile/base/metrics/collectd.pp
  manifests/profile/base/metrics/collectd/gnocchi.pp
  templates/collectd/collectd-gnocchi.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Configure cinder's default volume type
  manifests/profile/base/cinder/api.pp
  releasenotes/notes/cinder-default-volume-type-a344cea7ab4b4b2a.yaml
  spec/classes/tripleo_profile_base_cinder_api_spec.rb
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Fix containerized logrotate configuration
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-copytruncate-hourly-f0851bec551f5f5f.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fixes ODL issue where OF port may be set wrong
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/fix-odl-ovs-openflow-port-resync-79b5f69b71740a6c.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

Move metadata file creation of glance netapp to puppet-tripelo from THT
  manifests/profile/base/glance/netapp.pp
  releasenotes/notes/metadata-file-creation-for-glance-netapp-47668bb602316024.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Force cinder properties to be set on ly on nodes with pcmk on it
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

SSL support for haproxy -> novnc proxy connection
  manifests/certmonger/novnc_proxy.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/nova_novnc_proxy_ssl_support-507a776063403a8e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Revert "Fix containerized logrotate configuration"
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-copytruncate-hourly-f0851bec551f5f5f.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Revert "SSL support for haproxy -> novnc proxy connection"
  manifests/certmonger/novnc_proxy.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/nova_novnc_proxy_ssl_support-507a776063403a8e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fix postrotate filter and httpd reloading signal
  templates/logrotate/containers_logrotate.conf.erb
Due: none

Remove PE requirement from metadata.json
  metadata.json
Due: none

Remove the duplicated word
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/pacemaker/database/redis.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
  releasenotes/notes/nova_migration_qemu-fc2150565dae8d33.yaml
  spec/classes/tripleo_profile_base_neutron_spec.rb
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Adding support for VF LAG in SR-IOV for Mellanox interfaces
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  releasenotes/notes/vf-lag-sriov-ec194ecd4b447a46.yaml
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Use exec for CA CRL instead of file resource
  manifests/certmonger/ca/crl.pp
  spec/classes/tripleo_certmonger_ca_crl_spec.rb
Due: none

Do not create metadata ssl proxy if we have metadata api via httpd wsgi
  manifests/profile/base/nova/api.pp
  releasenotes/notes/nova-metadata-wsgi-ssl-a64c2b9a99deb7a9.yaml
Due: none

Prepare 9.3.0 (Rocky RC1)
  metadata.json
Due: none

Add support for ODL-OVS IPv6 deployment
  lib/puppet/functions/add_brackets.rb
  manifests/profile/base/neutron/plugins/ml2/opendaylight.pp
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/add-support-for-IPv6-deployment-988400c781b92066.yaml
Due: tripleo-ci-centos-7-scenario008-multinode-oooq

import zuul job settings from project-config
  zuul.d/layout.yaml
Due: none

switch documentation job to new PTI
  zuul.d/layout.yaml
Due: none

Update .gitreview for stable/rocky
  .gitreview
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: none

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
