Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$

Split up neutron-lbaas service plugin and agent
  manifests/profile/base/neutron/agents/lbaas.pp
  releasenotes/notes/split-up-neutron-lbaas-f0c248220ed872cd.yaml
Due: none

Firewall: NOT persist ephemetal ironic-inspector rules
  manifests/firewall.pp
Due: none

Add NVMeOF support to configure cinder backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/nvmeof.pp
  spec/classes/tripleo_profile_base_cinder_volume_nvmeof_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Only run os-net-config if file has content
  manifests/network/os_net_config.pp
Due: none

Allow configuration of NFS backend for Nova
  manifests/profile/base/nova/compute.pp
  spec/classes/tripleo_profile_base_nova_compute_spec.rb
Due: none

firewall: add IPv6 support
  manifests/firewall/rule.pp
  spec/classes/tripleo_firewall_spec.rb
Due: none

Treat IP address as optional in Cisco VTS ML2 configuration
  manifests/profile/base/neutron/plugins/ml2/vts.pp
  spec/classes/tripleo_profile_base_neutron_ml2_vts_spec.rb
Due: none

Disallow SSLv2, SSLv3 and TLS1.0 in mysql for FedRAMP compliance
  manifests/profile/base/database/mysql.pp
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

docker: force insecure registries to be an array
  manifests/profile/base/docker.pp
Due: none

Fixes HA Proxy backend check for ODL
  manifests/haproxy.pp
  releasenotes/notes/fix-odl-haproxy-check-ce000de26141fa7e.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Switch from rabbit to using oslo messaging params
  manifests/profile/base/designate.pp
Due: none

Adding wrapper scripts for neutron agent subprocesses
  manifests/profile/base/docker.pp
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
  manifests/profile/base/neutron/wrappers/dibbler_client.pp
  manifests/profile/base/neutron/wrappers/dnsmasq.pp
  manifests/profile/base/neutron/wrappers/haproxy.pp
  manifests/profile/base/neutron/wrappers/keepalived.pp
  manifests/profile/base/neutron/wrappers/keepalived_state_change.pp
  manifests/profile/base/neutron/wrappers/radvd.pp
  releasenotes/notes/add-neutron-agent-wrappers-bf84104f3607264b.yaml
  spec/classes/tripleo_profile_base_docker_spec.rb
  spec/classes/tripleo_profile_base_neutron_dhcp_spec.rb
  spec/classes/tripleo_profile_base_neutron_l3_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dibbler_client_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_dnsmasq_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_haproxy_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_keepalived_state_change_spec.rb
  spec/defines/tripleo_profile_base_neutron_wrappers_radvd_spec.rb
  templates/neutron/dibbler-client.epp
  templates/neutron/dnsmasq.epp
  templates/neutron/haproxy.epp
  templates/neutron/keepalived.epp
  templates/neutron/neutron-keepalived-state-change.epp
  templates/neutron/radvd.epp
Due: none

[Newton only] Do not overwrite current {neutron,nova}::host value.
  lib/facter/current_config_hosts.rb
  manifests/profile/base/neutron.pp
  manifests/profile/base/nova.pp
  spec/classes/tripleo_profile_base_neutron_spec.rb
  spec/classes/tripleo_profile_base_nova_spec.rb
  spec/fixtures/hiera.yaml
  spec/fixtures/hieradata/host_param.yaml
  spec/fixtures/hieradata/host_param_update.yaml
Due: none

Add logrotate compress option
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-compress-96934a4e76b9689d.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Conditionally Enable Nuage VRS
  manifests/profile/base/neutron/plugins/ml2/nuage.pp
Due: none

Add s3api support
  manifests/profile/base/swift/proxy.pp
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Optionally the docker group to the mistral user
  manifests/profile/base/mistral/executor.pp
Due: tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container

Ensure the CephX Manila keyring permissions are only set when needed
  manifests/profile/base/manila/share.pp
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

[Newton Only] Fix getting live value of nova/neutron during update.
  lib/facter/current_config_hosts.rb
Due: none

Neutron wrappers: lookup for THT parameter
  manifests/profile/base/neutron/dhcp_agent_wrappers.pp
  manifests/profile/base/neutron/l3_agent_wrappers.pp
Due: none

Remove share_backend_name from Dell-EMC manila backends
  manifests/profile/base/manila/share.pp
Due: tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Fix certificate ownership of rabbitmq
  manifests/certmonger/rabbitmq.pp
Due: none

Deprecate tripleo::profile::base::docker(_registry)
  manifests/profile/base/docker.pp
  releasenotes/notes/docker_registry-163bf23bc95761a8.yaml
Due: none

Force GDPR compliance of containers logs
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-purge-56143a979ba80b51.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Prepare 5.6.11 (newton)
  metadata.json
Due: none

Prepare 6.5.13 (ocata)
  metadata.json
Due: none

Prepare 7.4.13 (pike)
  metadata.json
Due: none

Prepare 8.3.3 (queens)
  metadata.json
Due: none

Rework GDPR compliant logrotate config
  manifests/profile/base/logging/logrotate.pp
  releasenotes/notes/logrotate-containers-purge-56143a979ba80b51.yaml
  templates/logrotate/containers_logrotate.conf.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Update netapp cinder configuration
  manifests/profile/base/cinder/volume/netapp.pp
  releasenotes/notes/cinder-netapp-hieradata-changes-3004544d96796e76.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add missing nfs_mount_options for Cinder Netapp backend
  manifests/profile/base/cinder/volume/netapp.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container
