Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$

zuul: add scenario001-container to the gate
  zuul.d/layout.yaml
Due: none

Prepare Queens milestone 3
  metadata.json
Due: none

Haproxy endpoint resource: set defaults for server_names and IPs
  manifests/haproxy/endpoint.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Enable automatic restart of memcached, apache and mongodb
  manifests/profile/base/apache.pp
  manifests/profile/base/database/mongodb.pp
  manifests/profile/base/memcached.pp
Due: none

Enable automatic restart of memcached, apache and mongodb
  manifests/profile/base/database/mongodb.pp
  manifests/profile/base/keystone.pp
  manifests/profile/base/memcached.pp
Due: none

gnocchi/ceilometer upgrade workflow fix
  manifests/profile/base/ceilometer/upgrade.pp
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add incoming storage driver param
  manifests/profile/base/gnocchi/api.pp
  spec/classes/tripleo_profile_base_gnocchi_api_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Adds TLS support for OpenDaylight
  manifests/certmonger/opendaylight.pp
  manifests/certmonger/openvswitch.pp
  manifests/haproxy.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/neutron/opendaylight.pp
  manifests/profile/base/neutron/plugins/ml2/opendaylight.pp
  manifests/profile/base/neutron/plugins/ovs/opendaylight.pp
  releasenotes/notes/add-tls-opendaylight-a3f943a0f6012424.yaml
  spec/classes/tripleo_certmonger_opendaylight_spec.rb
  spec/classes/tripleo_certmonger_openvswitch_spec.rb
  spec/classes/tripleo_profile_base_neutron_ml2_opendaylight_spec.rb
  spec/classes/tripleo_profile_base_neutron_opendaylight_spec.rb
  spec/classes/tripleo_profile_base_neutron_ovs_opendaylight_spec.rb
  spec/fixtures/hieradata/step1.yaml
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Add custom_vrrp_script param to keepalived
  manifests/keepalived.pp
Due: none

Remove RH1 OVB jobs from configuration
  zuul.d/layout.yaml
Due: none

Add support for Dell EMC VNX Cinder Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_vnx.pp
  releasenotes/notes/vnx_driver_bea44d073cd161e7.yaml
  spec/classes/tripleo_profile_base_cinder_vnx_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add variable for keystone topics queue for barbican
  manifests/profile/base/keystone.pp
  releasenotes/notes/add-keystone-notifications-queue-for-barbican-72477b0b45bcfbd7.yaml
Due: none

Prepare 7.4.8 (pike)
  metadata.json
Due: none

Prepare 6.5.8 (Ocata)
  metadata.json
Due: none

Prepare 5.6.8 (newton)
  metadata.json
Due: none

Split docker mirror and debug configs
  manifests/profile/base/docker.pp
  spec/classes/tripleo_profile_base_docker_spec.rb
Due: none

Use on-marked-down shutdown-sessions for redis haproxy conf
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Ensure interface names are downcased
  lib/puppet/parser/functions/interface_for_ip.rb
Due: none

Update nova::compute::libvirt for bug 1720787
  manifests/profile/base/nova/compute/libvirt.pp
Due: none

hw ovs offload - On some machines representor ports not created after reboot
  lib/puppet/provider/sriov_vf_config/numvfs.rb
  spec/defines/tripleo_host_sriov_numvfs_persistence_spec.rb
  templates/switchdev/switchdev.epp
Due: none

Correct Neutron RabbitMQ User Param Mapping
  manifests/profile/base/neutron.pp
Due: none

Removing unsupported skip-incoming argument
  manifests/profile/base/gnocchi/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Add support for Designate
  manifests/haproxy.pp
  manifests/profile/base/database/mysql.pp
  manifests/profile/base/designate.pp
  manifests/profile/base/designate/api.pp
  manifests/profile/base/designate/central.pp
  manifests/profile/base/designate/mdns.pp
  manifests/profile/base/designate/producer.pp
  manifests/profile/base/designate/sink.pp
  manifests/profile/base/designate/worker.pp
  manifests/profile/base/keystone.pp
  templates/designate/pools.yaml.erb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Zuul: Remove project name
  zuul.d/layout.yaml
Due: none

Fluentd: fixed configuration by service
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Add missing pacemaker cindier CA cert mounts
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add panko expirer to configure cron tasks
  manifests/profile/base/panko/api.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Revert "Set disable:true for oci-machine-register"
  manifests/profile/base/docker.pp
Due: none

mongodb: avoid duplicated resources in systemd config
  manifests/profile/base/database/mongodb.pp
Due: none

Prepare 7.4.9 (pike)
  metadata.json
Due: none

Remove support for heat-api-cloudwatch service
  manifests/haproxy.pp
  manifests/profile/base/heat/api_cloudwatch.pp
  releasenotes/notes/remove-heat-api-cloudwatch-bb2b8d0cdff775e2.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Do not fail fencing configuration when instanceha is disabled
  manifests/fencing.pp
Due: none
