Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

Removes neutron ownership of certs
  manifests/certmonger/neutron.pp
  releasenotes/notes/fix-neutron-cert-perms-4a034bb516be6f9f.yaml
Due: none

Add support for Ironic Networking Baremetal
  manifests/profile/base/neutron/agents/networking_baremetal.pp
  manifests/profile/base/neutron/plugins/ml2.pp
  manifests/profile/base/neutron/plugins/ml2/networking_baremetal.pp
  releasenotes/notes/ironic-networking-baremetal-ebb19eca5fa235bc.yaml
Due: none

Implement tripleo::masquerade_networks
  manifests/masquerade_networks.pp
  spec/classes/tripleo_masquerade_networks_spec.rb
Due: none

Split up neutron-lbaas service plugin and agent
  manifests/profile/base/neutron/agents/lbaas.pp
  releasenotes/notes/split-up-neutron-lbaas-f0c248220ed872cd.yaml
Due: none

Include local CA installation outside of HAProxy cert setup
  manifests/certmonger/haproxy.pp
  manifests/profile/base/certmonger_user.pp
Due: none

Fix mode for openstack services
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

firewall/masquerading: configure state and proto
  manifests/masquerade_networks.pp
  spec/classes/tripleo_masquerade_networks_spec.rb
Due: none

Fixes incorrect license for certmonger haproxy dirs
  manifests/certmonger/haproxy_dirs.pp
Due: none

ceilo:base: include ::ceilometer::dispatcher::gnocchi
  manifests/profile/base/ceilometer.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Removing conditions to enable Nuage VRS and Metadata Agent
  manifests/profile/base/neutron/agents/nuage.pp
Due: none

Fix docker debug/mirrors JSON augeas changes
  manifests/profile/base/docker.pp
  spec/classes/tripleo_profile_base_docker_spec.rb
Due: none

masquerade: configure FORWARD rules
  manifests/firewall/rule.pp
  manifests/masquerade_networks.pp
  spec/classes/tripleo_masquerade_networks_spec.rb
Due: none

metadata.json: prepare for 9.0.0 release (rocky-m1)
  metadata.json
Due: none

haproxy: enable UI on containerized undercloud
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add resource-stickiness=INFINITY to VIPs
  manifests/pacemaker/haproxy_with_vip.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

vhostuser socket dir shall be created for vhostuserclient mode
  .gitignore
  manifests/profile/base/neutron/ovs.pp
  spec/classes/tripleo_profile_base_neutron_ovs_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: none

Partially revert "Fail more gracefully when passed an empty ip"
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Allow vhost socket directory user/group as configurable from template
  manifests/profile/base/neutron/ovs.pp
  spec/classes/tripleo_profile_base_neutron_ovs_spec.rb
Due: none

Allow vhost socket directory user/group as configurable from template
  manifests/profile/base/neutron/ovs.pp
Due: none

Merge default_listen with swift_proxy_server_listen_options
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Fluentd monitoring interface
  manifests/profile/base/logging/fluentd.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Fixes binding type for OpenDaylight Websocket
  manifests/haproxy.pp
  releasenotes/notes/fix-opendaylight-websocket-haproxy-7220b0c25ff13faa.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Changing opendaylight loadbalancing alogirthm
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Force stunnel to use TLSv1.2
  manifests/stunnel/service_proxy.pp
  templates/stunnel/service.erb
Due: none

Release 8.3.2 (Queens)
  metadata.json
Due: none

Release 7.4.12 (Pike)
  metadata.json
Due: none

Release 6.5.12 (Ocata)
  metadata.json
Due: none

Release 5.6.10 (Newton)
  metadata.json
Due: none

logging: fluentd add multi log files on sources
  manifests/profile/base/logging/fluentd/fluentd_service.pp
  spec/classes/tripleo_profile_base_logging_fluentd_spec.rb
  spec/fixtures/hieradata/step4.yaml
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container

Trivial: fix a comment typo
  spec/fixtures/hieradata/default.yaml
Due: none

Firewall: NOT persist ephemetal ironic-inspector rules
  manifests/firewall.pp
Due: none

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
