Repository openstack-archive/puppet-tripleo: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario007-multinode-oooq, tripleo-ci-centos-7-scenario007-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq, tripleo-ci-centos-7-scenario008-multinode-oooq

keystone: support _member_ role management
  manifests/profile/base/keystone.pp
  releasenotes/notes/keystone_member-70065ba9269c4bfd.yaml
Due: none

Add tests for tripleo::keepalived
  Puppetfile_extras
  manifests/keepalived.pp
  releasenotes/notes/keepalived-test-f3eddf57a5b4d433.yaml
  spec/classes/tripleo_keepalive_spec.rb
Due: none

Prpeare 6.5.9 (ocata)
  metadata.json
Due: none

Use on-marked-down shutdown-sessions for redis haproxy conf
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Adds missing Neutron TLS certificate/key generation
  manifests/certmonger/neutron.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/add-neutron-tls-8d020c63f14408d0.yaml
Due: none

Add support for Dell EMC VNX Cinder Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_vnx.pp
  releasenotes/notes/vnx_driver_bea44d073cd161e7.yaml
  spec/classes/tripleo_profile_base_cinder_vnx_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Use --live-restore when setting up the docker service
  manifests/profile/base/docker.pp
  spec/classes/tripleo_profile_base_docker_spec.rb
Due: none

Set rgw_keystone_revocation_interval to 0 for ceph::rgw::keystone
  manifests/profile/base/ceph/rgw.pp
  spec/classes/tripleo_profile_base_ceph_rgw_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

Include barbican modules to swift proxy
  manifests/profile/base/swift/proxy.pp
Due: tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Ensure mysql client ip address is an ip
  manifests/profile/base/database/mysql/client.pp
  spec/classes/tripleo_profile_base_database_mysql_client_spec.rb
Due: none

Zuul: Remove project name
  zuul.d/layout.yaml
Due: none

Fix Redis TLS setup, including replication traffic
  manifests/certmonger/redis.pp
  manifests/haproxy.pp
  manifests/profile/base/aodh/evaluator.pp
  manifests/profile/base/ceilometer/agent/polling.pp
  manifests/profile/base/certmonger_user.pp
  manifests/profile/base/database/redis.pp
  manifests/profile/base/gnocchi/api.pp
  manifests/profile/pacemaker/database/redis.pp
  manifests/profile/pacemaker/database/redis_bundle.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Add missing pacemaker cindier CA cert mounts
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Load puppet-openstack_spec_helper locally during tests
  Gemfile
Due: none

Allow for customization of the Ceph cluster name for Cinder
  manifests/profile/base/cinder/volume/rbd.pp
  spec/classes/tripleo_profile_base_cinder_volume_rbd_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Make exposing the keystone admin port optional
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Avoid hard-coded settings in Cinder HA containers
  lib/puppet/parser/functions/docker_volumes_to_storage_maps.rb
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add support for libvirt VNC TLS with option of a dedicated CA
  files/cm_ipa_subca_wrapper.py
  manifests/certmonger/ca/libvirt_vnc.pp
  manifests/certmonger/libvirt_vnc.pp
  manifests/certmonger/libvirt_vnc_dirs.pp
  manifests/profile/base/certmonger_user.pp
  releasenotes/notes/vnc_tls-7e5f275217117f78.yaml
Due: none

Add support for Dell EMC XtremIO Cinder ISCSI Backend
  manifests/profile/base/cinder/volume.pp
  manifests/profile/base/cinder/volume/dellemc_xtremio_iscsi.pp
  releasenotes/notes/xtremio_driver_cea44d073cd161e7.yaml
  spec/classes/tripleo_profile_base_cinder_xtremio_iscsi_spec.rb
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container

Remove neutron-managed firewall rules from /etc/sysconfig/iptables
  manifests/firewall.pp
  releasenotes/notes/neutron_iptables-9ea317c73b79929d.yaml
Due: none

docker: configure group/user for deployment_user
  manifests/profile/base/docker.pp
  releasenotes/notes/deployment_user-6df5c1c2fe8b7b6b.yaml
Due: none

Change URL for puppet-cassandra
  Puppetfile_extras
Due: none

Composable Role for Neutron LBaaS
  manifests/profile/base/neutron/lbaas.pp
  manifests/profile/pacemaker/neutron/lbaas.pp
  releasenotes/notes/Composable_role_for_neutron_lbaas-acdf08f1a9dfd3fe.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Fix galera deployment when stack's name has capital letters
  manifests/profile/pacemaker/database/mysql.pp
  manifests/profile/pacemaker/database/mysql_bundle.pp
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Add firewall chain support
  manifests/firewall.pp
  releasenotes/notes/firewall-chain-updates-f2b9d6ced9bde846.yaml
  spec/classes/tripleo_firewall_spec.rb
Due: none

Prep puppet-tripleo metadata for Queens rc1
  metadata.json
Due: none

Avoid hard-coded settings in Cinder HA containers
  Puppetfile_extras
  lib/puppet/parser/functions/docker_volumes_to_storage_maps.rb
  manifests/profile/pacemaker/cinder/backup_bundle.pp
  manifests/profile/pacemaker/cinder/volume_bundle.pp
  spec/classes/tripleo_profile_pacemaker_cinder_backup_bundle_spec.rb
  spec/classes/tripleo_profile_pacemaker_cinder_volume_bundle_spec.rb
  spec/fixtures/hieradata/default.yaml
Due: tripleo-ci-centos-7-scenario005-multinode-oooq

Set rgw_keystone_revocation_interval to 0 for ceph::rgw::keystone
  manifests/profile/base/ceph/rgw.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container

firewall: stop using stdlib stages
  manifests/firewall.pp
Due: none

Conditionally include Nuage VRS and Nuage Metadata Agent
  manifests/profile/base/neutron/agents/nuage.pp
Due: none

Give horizon's stanza in haproxy a per-server cookie
  manifests/haproxy.pp
Due: tripleo-ci-centos-7-scenario001-multinode-oooq, tripleo-ci-centos-7-scenario001-multinode-oooq-container, tripleo-ci-centos-7-scenario002-multinode-oooq, tripleo-ci-centos-7-scenario002-multinode-oooq-container, tripleo-ci-centos-7-scenario003-multinode-oooq, tripleo-ci-centos-7-scenario003-multinode-oooq-container, tripleo-ci-centos-7-scenario004-multinode-oooq, tripleo-ci-centos-7-scenario004-multinode-oooq-container, tripleo-ci-centos-7-scenario005-multinode-oooq

Path conditions:
  tripleo-ci-centos-7-scenario001-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario001-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/congress.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/logging.*$, ^manifests/profile/base/metrics.*$, ^manifests/profile/base/monitoring.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/tacker.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario002-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/aodh.*$, ^manifests/profile/base/barbican.*$, ^manifests/profile/base/ceilometer.*$, ^manifests/profile/base/cinder.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/gnocchi.*$, ^manifests/profile/base/nova/ec2.*$, ^manifests/profile/base/panko.*$, ^manifests/profile/base/swift.*$, ^manifests/profile/base/zaqar.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario003-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/mistral.*$, ^manifests/profile/base/sahara.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario004-multinode-oooq-container: any of: ^manifests/haproxy.*$, ^manifests/profile/base/ceph.*$, ^manifests/profile/base/glance.*$, ^manifests/profile/base/manila.*$, ^manifests/profile/pacemaker/manila.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq: any of: ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario007-multinode-oooq-container: any of: ^manifests/profile/pacemaker/ovn.*$, ^manifests/profile/base/neutron/plugins/ml2/ovn.*$, ^manifests/profile/base/neutron/agents/ovn.*$, ^manifests/profile/base/neutron/ovn.*$
  tripleo-ci-centos-7-scenario005-multinode-oooq: any of: ^manifests/haproxy.*$, ^manifests/pacemaker/.*$, ^manifests/profile/pacemaker.*$, manifests/profile/base/pacemaker.pp
  tripleo-ci-centos-7-scenario008-multinode-oooq: any of: manifests/profile/base/neutron/opendaylight.pp, manifests/profile/base/neutron/plugins/ml2/opendaylight.pp, manifests/profile/base/neutron/plugins/ovs/opendaylight.pp, ^manifests/profile/base/neutron/opendaylight/.*$
